.cm-s-solarized.cm-s-light .CodeMirror-search-field{  background-color: #3f3f3f; color: #dcdccc; }
.cm-s-solarized.cm-s-light.CodeMirror {  background-color: #3f3f3f; color: #dcdccc; color-scheme: dark;}

.cm-s-solarized.cm-s-light .CodeMirror-gutters { background: #3f3f3f !important; }
.cm-s-solarized.cm-s-light .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #999; }
.cm-s-solarized.cm-s-light .CodeMirror-cursor { border-left: 1px solid white; }
.cm-s-solarized.cm-s-light span.cm-builtin { color: #dcdccc; font-weight: bold; }
.cm-s-solarized.cm-s-light span.cm-comment { color: #7f9f7f; }
.cm-s-solarized.cm-s-light span.cm-keyword { color: #f0dfaf; font-weight: bold; }
.cm-s-solarized.cm-s-light span.cm-atom { color: #bfebbf; }
.cm-s-solarized.cm-s-light span.cm-def { color: #dcdccc; }
.cm-s-solarized.cm-s-light span.cm-variable { color: #dfaf8f; }
.cm-s-solarized.cm-s-light span.cm-variable-2 { color: #dcdccc; }
.cm-s-solarized.cm-s-light span.cm-string { color: #cc9393; }
.cm-s-solarized.cm-s-light span.cm-string-2 { color: #cc9393; }
.cm-s-solarized.cm-s-light span.cm-number { color: #dcdccc; }
.cm-s-solarized.cm-s-light span.cm-tag { color: #93e0e3; }
.cm-s-solarized.cm-s-light span.cm-property { color: #dfaf8f; }
.cm-s-solarized.cm-s-light span.cm-attribute { color: #dfaf8f; }
.cm-s-solarized.cm-s-light span.cm-qualifier { color: #7cb8bb; }
.cm-s-solarized.cm-s-light span.cm-meta { color: #f0dfaf; }
.cm-s-solarized.cm-s-light span.cm-header { color: #f0efd0; }
.cm-s-solarized.cm-s-light span.cm-operator { color: #f0efd0; }
.cm-s-solarized.cm-s-light span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-solarized.cm-s-light span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-solarized.cm-s-light .CodeMirror-activeline { background: #000000; }
.cm-s-solarized.cm-s-light .CodeMirror-activeline-background { background: #000000; }
.cm-s-solarized.cm-s-light div.CodeMirror-selected { background: #545454; }
.cm-s-solarized.cm-s-light .CodeMirror-focused div.CodeMirror-selected { background: #4f4f4f; }
